<!DOCTYPE html>

<html>

<head>
    <title> DFU Aid - Console</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <!-- SocketIO setup -->
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('my event', {
                data: 'I\'m connected!'
            });
        });
    </script>
</head>

<body>

    <div>
        <img src="/plot.png" alt="Data loading is broken" width='400' height='400'>
    </div>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <div style="margin-top:16px;color:dimgrey;font-size:9px;font-family: Verdana, Arial, Helvetica, sans-serif;text-decoration:none;">Source: <a href="https://canvasjs.com/javascript-charts/dynamic-live-line-chart/" target="_blank" title="JavaScript Dynamic / Live Line Charts &amp; Graphs ">https://canvasjs.com/javascript-charts/dynamic-live-line-chart/</a></div>


    <script>
        window.onload = function() {

            var dataPoints = [];

            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                title: {
                    text: "Live Data"
                },
                data: [{
                    type: "line",
                    dataPoints: dataPoints
                }]
            });
            updateData();

            // Initial Values
            var xValue = 0;
            var yValue = 10;
            var newDataCount = 6;

            function addData(data) {
                if (newDataCount != 1) {
                    $.each(data, function(key, value) {
                        dataPoints.push({
                            x: value[0],
                            y: parseInt(value[1])
                        });
                        xValue++;
                        yValue = parseInt(value[1]);
                    });
                } else {
                    //dataPoints.shift();
                    dataPoints.push({
                        x: data[0][0],
                        y: parseInt(data[0][1])
                    });
                    xValue++;
                    yValue = parseInt(data[0][1]);
                }

                newDataCount = 1;
                chart.render();
                setTimeout(updateData, 1500);
            }

            function updateData() {

            }

        }
    </script>
</body>

</html>